# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Binaries
knapsackBB_serial
knapsackBB_omp
knapsackBB_parallel
knapsackDYN_serial
knapsackDYN_serial_optimized
knapsackDYN_parallel
knapsackDYN_omp

# Vim tmp file
*.swp

# Test files
testbed/

# Results
output/
errors/

# Problems
problems/
